/* QuestionnaireMonChoix.css */

.questionnaire-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh; /* Utilisez la hauteur de viewport pour centrer verticalement */
}

  
  .questionnaire-header h1 {
    text-align: center;
    color: black;
    margin-bottom: 1rem; /* Espacement après le titre */
  }
  
  .questionnaire-main {
    padding: 0 1rem; /* Padding sur les côtés */
  }
  
  .questionnaire-title h3 {
    color: black;
    text-align: center;
    margin-bottom: 1rem; /* Espacement après le sous-titre */
  }
  
  /* Style pour encadrer la section DIRECTIVES */
  .questionnaire-directives {
    border: 1px solid #000; /* Création d'un cadre */
    padding: 1rem;
    margin-bottom: 1rem; /* Espacement après la section */
    border-radius: 4px; /* Coins arrondis pour l'encadré */
    background-color: #f9f9f9; /* Un fond légèrement différent pour distinguer la section */
  }
  
  .questionnaire-directives h4 {
    color: black;
    margin-bottom: .5rem; /* Espacement après le titre des directives */
  }
  
  .questionnaire-directives p {
    color: black;
    text-align: left; /* Alignement du texte à gauche */
    line-height: 1.5; /* Espacement des lignes pour une meilleure lisibilité */
  }

  .questionnaire-item {
    display: flex;
    align-items: center; /* Centre les éléments verticalement */
    margin-bottom: 1rem;
  }
  
  .question-text {
    flex-grow: 1;
  }
  
  .response-options {
    display: flex; /* Affiche les boutons radio en ligne */
    justify-content: flex-end;
  }
  
  .radio-option {
    margin-left: 1rem; /* Espacement entre les boutons radio et la question */
  }