/* Assurez-vous que votre conteneur utilise Flexbox pour aligner les éléments */
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem; /* Ajustez le padding selon vos besoins */
}

.logo {
  height: 50px; /* Ajustez la hauteur selon vos besoins */
  width: auto; /* Garde le ratio de l'image */
}

/* Style pour la navigation si nécessaire */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: #000; /* Ou toute autre couleur */
}

